/* reset */
/* line 2, ../sass/_reset.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 6, ../sass/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-style: inherit;
  font-size: 100%;
}

/* line 17, ../sass/_reset.scss */
html {
  overflow: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 22, ../sass/_reset.scss */
body {
  overflow: hidden;
  line-height: 1;
}

/* line 26, ../sass/_reset.scss */
li {
  list-style: none;
}

/* line 29, ../sass/_reset.scss */
a:active {
  outline: 0;
}

/* line 32, ../sass/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 35, ../sass/_reset.scss */
img {
  vertical-align: middle;
}

/* line 38, ../sass/_reset.scss */
button, input, select, textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
}

/* line 44, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/* line 47, ../sass/_reset.scss */
button, select {
  text-transform: none;
}

/* line 50, ../sass/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 54, ../sass/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 60, ../sass/_reset.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 63, ../sass/_reset.scss */
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"] {
  border: 0;
  outline: 0;
  background-color: transparent;
}

/* line 74, ../sass/_reset.scss */
input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  color: #d1d6de;
}

/* line 81, ../sass/_reset.scss */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* line 87, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 91, ../sass/_reset.scss */
[hidden], template {
  display: none;
}

/* line 94, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 97, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 101, ../sass/_reset.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* base */
/* line 106, ../sass/_reset.scss */
html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* line 110, ../sass/_reset.scss */
body {
  color: #2b577a;
  font-size: 24px;
  font-family: "Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif";
  -webkit-user-select: none;
}

/* line 116, ../sass/_reset.scss */
a {
  text-decoration: none;
}

/* line 119, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

/* line 123, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 126, ../sass/_reset.scss */
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* line 131, ../sass/_reset.scss */
.fr {
  float: right !important;
}

/* line 134, ../sass/_reset.scss */
.fl {
  float: left !important;
}

/* line 137, ../sass/_reset.scss */
.hide, .hidden {
  display: none !important;
}

/* line 140, ../sass/_reset.scss */
.show {
  display: block !important;
}

/* line 143, ../sass/_reset.scss */
.visible {
  visibility: visible;
}

/* line 146, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* line 149, ../sass/_reset.scss */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 153, ../sass/_reset.scss */
.text-center {
  text-align: center;
}

/* line 156, ../sass/_reset.scss */
.text-left {
  text-align: left;
}

/* line 159, ../sass/_reset.scss */
.text-right {
  text-align: right;
}

/* line 2, ../sass/serverBusy.scss */
html {
  overflow: hidden;
}

/* line 5, ../sass/serverBusy.scss */
body {
  overflow: hidden;
  height: 100.1%;
}
/* line 8, ../sass/serverBusy.scss */
body .page_busy {
  width: 100%;
  height: 100%;
  background: #1e3952;
  padding: 334px 0 0;
}
/* line 13, ../sass/serverBusy.scss */
body .page_busy p {
  font-size: 26px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}
/* line 20, ../sass/serverBusy.scss */
body .page_busy .busy-img {
  width: 497px;
  height: 222px;
  margin-top: 28px;
  display: block;
  margin: 0 auto;
}
