/* reset */
/* line 2, ../sass/_reset.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 6, ../sass/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-style: inherit;
  font-size: 100%;
}

/* line 17, ../sass/_reset.scss */
html {
  overflow: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 22, ../sass/_reset.scss */
body {
  overflow: hidden;
  line-height: 1;
}

/* line 26, ../sass/_reset.scss */
li {
  list-style: none;
}

/* line 29, ../sass/_reset.scss */
a:active {
  outline: 0;
}

/* line 32, ../sass/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 35, ../sass/_reset.scss */
img {
  vertical-align: middle;
}

/* line 38, ../sass/_reset.scss */
button, input, select, textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
}

/* line 44, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/* line 47, ../sass/_reset.scss */
button, select {
  text-transform: none;
}

/* line 50, ../sass/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 54, ../sass/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 60, ../sass/_reset.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 63, ../sass/_reset.scss */
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"] {
  border: 0;
  outline: 0;
  background-color: transparent;
}

/* line 74, ../sass/_reset.scss */
input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  color: #d1d6de;
}

/* line 81, ../sass/_reset.scss */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* line 87, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 91, ../sass/_reset.scss */
[hidden], template {
  display: none;
}

/* line 94, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 97, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 101, ../sass/_reset.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* base */
/* line 106, ../sass/_reset.scss */
html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* line 110, ../sass/_reset.scss */
body {
  color: #2b577a;
  font-size: 24px;
  font-family: "Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif";
  -webkit-user-select: none;
}

/* line 116, ../sass/_reset.scss */
a {
  text-decoration: none;
}

/* line 119, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

/* line 123, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 126, ../sass/_reset.scss */
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* line 131, ../sass/_reset.scss */
.fr {
  float: right !important;
}

/* line 134, ../sass/_reset.scss */
.fl {
  float: left !important;
}

/* line 137, ../sass/_reset.scss */
.hide, .hidden {
  display: none !important;
}

/* line 140, ../sass/_reset.scss */
.show {
  display: block !important;
}

/* line 143, ../sass/_reset.scss */
.visible {
  visibility: visible;
}

/* line 146, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* line 149, ../sass/_reset.scss */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 153, ../sass/_reset.scss */
.text-center {
  text-align: center;
}

/* line 156, ../sass/_reset.scss */
.text-left {
  text-align: left;
}

/* line 159, ../sass/_reset.scss */
.text-right {
  text-align: right;
}

/* line 2, ../sass/style.scss */
body {
  height: 100%;
  position: relative;
  background: #1c3249;
}
/* line 6, ../sass/style.scss */
body img {
  display: block;
}
/* line 9, ../sass/style.scss */
body .audio {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  background-image: url(./../image/sprite.png);
  background-position: -1780px -874px;
  opacity: .5;
  width: 46px;
  height: 46px;
}
/* line 19, ../sass/style.scss */
body .audio.active {
  opacity: 1;
  -webkit-animation: infiniteRotate 2s linear infinite;
  animation: infiniteRotate 2s linear infinite;
}
/* line 25, ../sass/style.scss */
body .page_0 {
  height: 100%;
  width: 100%;
  background: #212121;
  padding-top: 190px;
}
/* line 30, ../sass/style.scss */
body .page_0 .lightHead {
  width: 220px;
  height: 26px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
/* line 37, ../sass/style.scss */
body .page_0 .light {
  width: 285px;
  height: 379px;
  margin: -20px auto 0;
  -webkit-animation: addOpacity 1.2s infinite;
  animation: addOpacity 1.2s infinite;
}
/* line 44, ../sass/style.scss */
body .page_0 .book {
  width: 257px;
  height: 54px;
  margin: -62px auto 50px;
  display: block;
}
/* line 50, ../sass/style.scss */
body .page_0 .progress {
  width: 357px;
  height: 14px;
  margin: 0 auto;
  background: #565656;
  border-radius: 20px;
}
/* line 56, ../sass/style.scss */
body .page_0 .progress .progressContent {
  width: 20%;
  height: 100%;
  background: #f7de9b;
  display: block;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* line 63, ../sass/style.scss */
body .page_0 .progress .progressContent.active {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* line 69, ../sass/style.scss */
body .page_0 .percent {
  color: #f7de9b;
  font-size: 32px;
  text-align: center;
  margin: 37px 0 26px;
}
/* line 75, ../sass/style.scss */
body .page_0 .title {
  color: #f7de9b;
  font-size: 30px;
  text-align: center;
}
/* line 82, ../sass/style.scss */
body .page_1 {
  height: 100%;
  width: 100%;
  background: #212121;
  padding-top: 485px;
}
/* line 87, ../sass/style.scss */
body .page_1 .openTitle {
  width: 340px;
  height: 34px;
  display: block;
  margin: 0 auto 25px;
  background: url(./../image/sprite.png);
  background-position: 2432px 1878px;
}
/* line 95, ../sass/style.scss */
body .page_1 .open {
  width: 289px;
  height: 95px;
  display: block;
  margin: 0 auto;
  background: url(./../image/sprite.png);
  background-position: 2548px 1832px;
  animation: changeScale 1.4s linear infinite;
  -webkit-animation: changeScale 1.4s linear infinite;
}
/* line 104, ../sass/style.scss */
body .page_1 .open img {
  width: 100%;
  height: 100%;
}
/* line 111, ../sass/style.scss */
body .page_2 {
  height: 100%;
  width: 100%;
  background: url(./../image/page2_bg.png) no-repeat center;
  background-size: 100% auto;
  background-position-y: -127px;
  position: relative;
}
/* line 118, ../sass/style.scss */
body .page_2 .blackBg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.9;
  transition: opacity 6s;
}
/* line 125, ../sass/style.scss */
body .page_2 .blackBg.active {
  opacity: 0;
}
/* line 129, ../sass/style.scss */
body .page_2 .imgContent {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
  padding-top: 49px;
}
/* line 135, ../sass/style.scss */
body .page_2 .imgContent .logo {
  width: 431px;
  height: 38px;
  margin: 0 41px;
}
/* line 140, ../sass/style.scss */
body .page_2 .imgContent .page2_activeRule {
  width: 158px;
  height: 67px;
  position: absolute;
  top: 36px;
  right: 76px;
  background: url(./../image/sprite.png);
  background-position: 2136px 1973px;
}
/* line 149, ../sass/style.scss */
body .page_2 .imgContent .page2_title {
  display: block;
  width: 634px;
  height: 180px;
  margin: 30px auto 5px;
  background: url(./../image/sprite.png);
  background-position: 3183px 1832px;
}
/* line 156, ../sass/style.scss */
body .page_2 .imgContent .page2_title.active {
  -webkit-animation: inRotate 0.3s linear infinite;
  animation: inRotate 0.3s linear infinite;
}
/* line 161, ../sass/style.scss */
body .page_2 .imgContent .page2_bar {
  display: block;
  width: 550px;
  height: 60px;
  margin: 0rem auto 0rem;
  background: url(./../image/sprite.png);
  background-position: 3074px 1960px;
}
/* line 168, ../sass/style.scss */
body .page_2 .imgContent .page2_bar.active {
  -webkit-animation: inScale 1s linear;
  animation: inScale 1s linear;
}
/* line 173, ../sass/style.scss */
body .page_2 .imgContent .page2_btn {
  width: 289px;
  height: 95px;
  background: url(./../image/sprite.png);
  background-position: 2427px 1973px;
  position: absolute;
  top: 1043px;
  left: 50%;
  margin-left: -144.5px;
}
/* line 186, ../sass/style.scss */
body .opacity_bg {
  width: 100%;
  height: 100%;
  background: #1d324a;
  opacity: 0.95;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
}
/* line 197, ../sass/style.scss */
body .close {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: url(./../image/sprite.png);
  background-position: 1942px 2174px;
}
/* line 206, ../sass/style.scss */
body .page_rule {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
}
/* line 214, ../sass/style.scss */
body .page_rule .ruleContent {
  width: 708px;
  height: 1060px;
  background: url(./../image/sprite.png);
  background-position: 0px 0px;
  margin: 69px auto 0;
  padding: 60px 46px 0;
  position: relative;
}
/* line 222, ../sass/style.scss */
body .page_rule .ruleContent .rultTitle {
  width: 160px;
  height: 40px;
  display: block;
  background: url(./../image/sprite.png);
  background-position: 2808px 1898px;
  margin: 0 auto 30px;
}
/* line 230, ../sass/style.scss */
body .page_rule .ruleContent .ruleInner {
  width: 100%;
  height: 788px;
  line-height: 45px;
  color: #1d324a;
  font-size: 26px;
  overflow: scroll;
}
/* line 237, ../sass/style.scss */
body .page_rule .ruleContent .ruleInner .rule-t {
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
}
/* line 242, ../sass/style.scss */
body .page_rule .ruleContent .ruleInner .rule-line {
  font-weight: 500;
}
/* line 246, ../sass/style.scss */
body .page_rule .ruleContent .down-icons {
  position: absolute;
  bottom: 60px;
  opacity: .5;
  left: 50%;
  margin-left: -39.5px;
  -webkit-animation: iconUpDown .5s linear alternate infinite;
  animation: iconUpDown .5s linear alternate infinite;
}
/* line 254, ../sass/style.scss */
body .page_rule .ruleContent .down-icons .down-icon {
  background-image: url(./../image/sprite.png);
  background-position: -1780px -826px;
  margin-top: -15px;
  width: 79px;
  height: 44px;
}
/* line 264, ../sass/style.scss */
body .page_foreword {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
}
/* line 272, ../sass/style.scss */
body .page_foreword .forewordContent {
  width: 652px;
  height: 934px;
  background: url(./../image/sprite.png);
  background-position: -710px -2px;
  margin: 122px auto 0;
  padding: 137px 120px 0;
  position: relative;
}
/* line 281, ../sass/style.scss */
body .page_foreword .forewordContent .introduction-content div {
  margin-bottom: 18px;
  font-size: 28px;
  color: #1d324a;
  line-height: 24px;
}
/* line 287, ../sass/style.scss */
body .page_foreword .forewordContent .introduction-content .intr-line {
  margin-bottom: 60px;
}
/* line 291, ../sass/style.scss */
body .page_foreword .forewordContent .introduction-btn {
  background-image: url(./../image/sprite.png);
  background-position: -1363px -727px;
  position: absolute;
  bottom: 105px;
  left: 50%;
  margin-left: -206.5px;
  width: 413px;
  height: 95px;
  display: none;
}
/* line 301, ../sass/style.scss */
body .page_foreword .forewordContent .introduction-btn.active {
  display: block;
  -webkit-animation: inScaleOpacity 0.5s linear;
  animation: inScaleOpacity 0.5s linear;
}
/* line 310, ../sass/style.scss */
body .page_subscribe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
}
/* line 318, ../sass/style.scss */
body .page_subscribe .subscribeContent {
  position: absolute;
  background-image: url(./../image/sprite.png);
  background-position: -1363px -4px;
  left: 50%;
  margin-left: -266px;
  top: 230px;
  width: 532px;
  height: 719px;
}
/* line 327, ../sass/style.scss */
body .page_subscribe .subscribeContent .qr-code {
  width: 325px;
  height: 325px;
  position: absolute;
  left: 50%;
  top: 130px;
  margin-left: -152.5px;
  border: 10px solid #ecc16e;
  border-radius: 30px;
}
/* line 337, ../sass/style.scss */
body .page_subscribe .subscribeContent .qr-word {
  position: absolute;
  background-image: url(./../image/sprite.png);
  background-position: -607px -1248px;
  left: 50%;
  margin-left: -147px;
  bottom: 115px;
  width: 247px;
  height: 98px;
}
/* line 348, ../sass/style.scss */
body .page_subscribe .subsrcibeContentImg {
  position: absolute;
  left: 50%;
  margin-left: -266px;
  top: 230px;
  width: 532px;
  height: 719px;
  z-index: 100;
}
/* line 359, ../sass/style.scss */
body .page_creatNote {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
}
/* line 367, ../sass/style.scss */
body .page_creatNote .creatNoteContent {
  width: 708px;
  height: 1060px;
  background: url(./../image/sprite.png);
  background-position: 0px 0px;
  margin: 69px auto 0;
  padding: 60px 46px 0;
  position: relative;
}
/* line 375, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-header {
  position: absolute;
  left: 65px;
  top: 50px;
  color: #1d324a;
}
/* line 380, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-header .creat-header-content {
  float: left;
  width: 500px;
  margin-left: 15px;
  line-height: 30px;
}
/* line 385, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-header .creat-header-content .nickname {
  font-size: 28px;
  font-weight: 700;
}
/* line 389, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-header .creat-header-content .nickname-desc {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 500;
}
/* line 395, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-header .creat-icon {
  background-image: url(./../image/sprite.png);
  background-position: -1780px -727px;
  float: left;
  width: 67px;
  height: 67px;
}
/* line 403, ../sass/style.scss */
body .page_creatNote .creatNoteContent .note-content {
  background-image: url(./../image/sprite.png);
  background-position: -4px -1066px;
  position: absolute;
  top: 140px;
  left: 65px;
  width: 599px;
  height: 383px;
}
/* line 411, ../sass/style.scss */
body .page_creatNote .creatNoteContent .note-content .note-word {
  width: 500px;
  position: absolute;
  top: 65px;
  left: 40px;
  font-size: 28px;
  color: #1d324a;
  line-height: 1.5;
}
/* line 419, ../sass/style.scss */
body .page_creatNote .creatNoteContent .note-content .note-word .abstract {
  text-align: right;
}
/* line 423, ../sass/style.scss */
body .page_creatNote .creatNoteContent .note-content .creat-refresh {
  position: absolute;
  width: 190px;
  height: 51px;
  line-height: 51px;
  left: 40px;
  bottom: 45px;
  background: #ecc16e;
  border-radius: 30px;
  color: #fff;
  font-size: 23.8px;
  box-sizing: border-box;
  padding-left: 55px;
}
/* line 437, ../sass/style.scss */
body .page_creatNote .creatNoteContent .note-content .refresh-icon {
  position: absolute;
  background-image: url(./../image/sprite.png);
  background-position: -1830px -874px;
  top: 7px;
  left: 10px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 37px;
  height: 35px;
}
/* line 449, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-word {
  background-image: url(./../image/sprite.png);
  background-position: -1535px -1066px;
  position: absolute;
  left: 50%;
  margin-left: -141.5px;
  top: 540px;
  width: 283px;
  height: 62px;
}
/* line 460, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-data {
  position: absolute;
  top: 640px;
  left: 50%;
  width: 490px;
  margin-left: -245px;
}
/* line 466, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-data .line-input {
  position: relative;
  width: 490px;
  margin-bottom: 18px;
}
/* line 470, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-data .line-input input {
  outline: none;
  background: #fff;
  border-radius: 7px;
  padding-left: 15px;
  font-size: 28px;
  line-height: 43px;
  height: 63px;
  width: 100%;
  padding: 10px 0 10px 15px;
}
/* line 481, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-data .line-input .verification-input {
  width: 300px;
}
/* line 484, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-data .line-input .verification {
  width: 170px;
  line-height: 63px;
  height: 63px;
  background: #ecc16e;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}
/* line 500, ../sass/style.scss */
body .page_creatNote .creatNoteContent .creat-btn {
  background-image: url(./../image/sprite.png);
  background-position: -1363px -826px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  margin-left: -206.5px;
  width: 413px;
  height: 95px;
}
/* line 514, ../sass/style.scss */
body .page_poster {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
/* line 521, ../sass/style.scss */
body .page_poster .poster-save {
  font-size: 34px;
  color: #fff;
  text-align: center;
  line-height: 56px;
  margin-top: 30px;
}
/* line 528, ../sass/style.scss */
body .page_poster .posterContent {
  width: 640px;
  height: 960px;
  margin: 62px auto 0;
  padding: 32px 58px 20px;
  background: #fff;
  position: relative;
  border-radius: 20px;
}
/* line 536, ../sass/style.scss */
body .page_poster .posterContent .poster-header {
  position: absolute;
  left: 56px;
  top: 28px;
  color: #1d324a;
}
/* line 542, ../sass/style.scss */
body .page_poster .posterContent .poster-header .poster-header-content {
  float: left;
  width: 390px;
  margin-left: 15px;
  line-height: 30px;
}
/* line 547, ../sass/style.scss */
body .page_poster .posterContent .poster-header .poster-header-content .nickname {
  font-size: 24px;
  font-weight: 700;
}
/* line 551, ../sass/style.scss */
body .page_poster .posterContent .poster-header .poster-header-content .nickname-desc {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 500;
}
/* line 557, ../sass/style.scss */
body .page_poster .posterContent .poster-header .poster-icon {
  background-image: url(./../image/sprite.png);
  background-position: -1780px -727px;
  float: left;
  width: 67px;
  height: 67px;
  transform: scale(0.9);
}
/* line 566, ../sass/style.scss */
body .page_poster .posterContent .poster-bg {
  width: 526px;
  height: 700px;
  background-size: 100% 100%;
  position: relative;
  margin-top: 76px;
}
/* line 573, ../sass/style.scss */
body .page_poster .posterContent .poster-word {
  width: 480px;
  position: absolute;
  bottom: 178px;
  left: 82px;
  font-size: 28px;
  color: #fff;
  line-height: 1.5;
}
/* line 581, ../sass/style.scss */
body .page_poster .posterContent .poster-word .abstract {
  text-align: right;
}
/* line 585, ../sass/style.scss */
body .page_poster .posterContent .position-word {
  margin-top: 18px;
}
/* line 587, ../sass/style.scss */
body .page_poster .posterContent .position-word .position {
  width: 23px;
  height: 30px;
  float: left;
  margin-right: 10px;
}
/* line 593, ../sass/style.scss */
body .page_poster .posterContent .position-word .word {
  font-size: 28px;
  color: #1f3750;
  float: left;
}
/* line 599, ../sass/style.scss */
body .page_poster .posterContent .logo {
  width: 204px;
  height: 32px;
  position: absolute;
  left: 58px;
  bottom: 38px;
}
/* line 606, ../sass/style.scss */
body .page_poster .posterContent .poster-code {
  float: right;
  margin-top: 10px;
}
/* line 609, ../sass/style.scss */
body .page_poster .posterContent .poster-code p {
  color: #223b54;
  font-size: 20px;
  float: right;
  margin-top: 24px;
  margin-right: 20px;
}
/* line 616, ../sass/style.scss */
body .page_poster .posterContent .poster-code .qr-code {
  width: 90px;
  height: 90px;
  float: right;
}
/* line 623, ../sass/style.scss */
body .page_poster .posterCanvas {
  width: 640px;
  height: 960px;
  margin: 62px auto 0;
  border-radius: 20px;
}

@keyframes inRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes inRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes inScale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes inScale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes addOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes addOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes changeScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes inScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes iconUpDown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
}
@keyframes iconUpDown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
}
@keyframes inScaleOpacity {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes inScaleOpacity {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
